@model rentaCar.Models.Entities.rent
@{
    ViewBag.Title = "NewRent";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-horizontal" method="post">
    <div class="form-group">
        <label class="control-label col-sm-2">Müşteri</label>
        <div class="col-sm-5">
            @Html.DropDownListFor(m => m.customers.Id, (List<SelectListItem>)ViewBag.valueCustomer, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">Araç</label>
        <div class="col-sm-5">
            @Html.DropDownListFor(m => m.cars.Id, (List<SelectListItem>)ViewBag.valueCar, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">Gün</label>
        <div class="col-sm-5">
           <input type="text" class="form-control" name="Day" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">Kiralama Tarihi</label>
        <div class="col-sm-5">
            <input type="datetime-local" class="form-control" name="RentalDate" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">Dönüş Tarihi</label>
        <div class="col-sm-5">
            <input type="datetime-local" class="form-control" name="ReturnDate" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">Not</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" name="Note" />
        </div>
    </div>
    <button class="btn btn-success">Kaydet</button>
</form>

