@model rentaCar.Models.Entities.rent
@{
    ViewBag.Title = "NewRent";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    var grid = new WebGrid(ViewBag.values, ajaxUpdateContainerId: "gridContent");
}

<form class="form-horizontal" method="post">
    <div class="form-group">
        <label class="control-label col-sm-2">Kiralama Tarihi</label>
        <div class="col-sm-5">
            <input type="datetime-local" class="form-control" name="RentalDate" id="startdate" value="2017-06-01T08:30"  onselect="" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">Dönüş Tarihi</label>
        <div class="col-sm-5">
            <input type="datetime-local" class="form-control" name="ReturnDate" id="finishdate" />
        </div>
        <button type="button" id="sorgula" class="btn btn-primary">Araç Sorgula</button>
    </div>
    <div class="from-group"  id="getCar"></div>

    <div class="form-group">
        <label class="control-label col-sm-2">Müşteri</label>
        <div class="col-sm-5">
            @Html.DropDownListFor(m => m.customers.Id, (List<SelectListItem>)ViewBag.valueCustomer, new { @class = "form-control" })
        </div>
        
    </div>
   
    <div class="form-group">
        <label class="control-label col-sm-2">Not</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" name="Note" />
        </div>
    </div>
    <input type="hidden" value="4" name="CarId" id="CarId" />

    <button class="btn btn-success">Kaydet</button>
</form>



<script>

    function updateCarId(valuex)
    {
        $("#CarId").val(valuex);
        $("tr").removeClass("bg-success");
        $("#" + valuex).addClass("bg-success");

    }

    $("#sorgula").click(x => {
        let startdate = $("#startdate").val();
        let finishdate = $("#finishdate").val();

        $.ajax({
            dataType: "json",
            type: "get",
            url: "/AvailableCars/getAvailableCars/",
            data: {
                d1: startdate,
                d2: finishdate
            },
            success: function (func) {
                
                let w = jQuery.parseJSON(func);
                console.log(w);
                let tablehtml = "<table class= table table-bordered> <tr><th>ID</th><th>Plaka</th> <th>MARKA</th><th>MODEL</th><th>YIL</th><th>COLOR</th><th>KM</th><th>ARAÇ TİPİ</th><th>GÜNLÜK ÜCRET</th><th>SEÇ</th></tr>";
                $.each(w, (index, value) => {
                    tablehtml += `<tr id=${value.Id} ><td>${value.Id}</td><td>${value.LicensePlate}</td><td>${value.Brand}</td><td>${value.Model}</td><td>${value.ProductYear}</td><td>${value.Color}</td><td>${value.km}</td><td>${value.CarType}</td><td>${value.DailyPrice}</td><td><a type href=# onclick=updateCarId(${value.Id})>Seç</a></td></tr>`
                });
                tablehtml += "</table>";
                $("#getCar").html(tablehtml);
            }
        })
        console.log(startdate);
    });
</script>

