
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">rentaCAR</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Ana Sayfa</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Araçlar<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/Cars/Index/">Tüm Araçlar</a></li>
                        <li><a href="/OnRentCars/OnRentCars/">Kiradaki Araçlar</a></li>
                        <li><a href="/AvailableCars/AvailableCars/">Müsait Araçlar</a></li>
                    </ul>
                </li>
                <li><a href="/Customers/Index/">Müşteriler</a></li>
                <li><a href="/Rents/Index/">Kiralamalar</a></li>
                <li><a href="/Login/Logout">Çıkış Yap</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">

        @RenderBody();

    </div>



    <div class="modal" tabindex="-1" role="dialog" id="form-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    
                </div>
            </div>
        </div>
    </div>
</body>
</html>

