@using rentaCar.Models.Entities
@{
    ViewBag.Title = "AvailableCars";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    WebGrid grid = new WebGrid(ViewBag.values);
}

<div class="container">

    @grid.GetHtml()

</div>


