@using rentaCar.Models.Entities
@{
    ViewBag.Title = "AvailableCars";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    WebGrid grid = new WebGrid(ViewBag.values);
}

<div class="container">

    <button type="button" id="sorgula" class="btn btn-primary">Araç Sorgula</button>

    @grid.GetHtml(
            tableStyle: "table-bordered col-md-12 text-center"
    )

    <form class="form-horizontal" method="post">
        <div class="form-group">
            <label class="control-label col-sm-2">Kiralama Tarihi</label>
            <div class="col-sm-5">
                <input type="datetime-local" class="form-control" name="RentalDate" id="rentdate" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Dönüş Tarihi</label>
            <div class="col-sm-5">
                <input type="datetime-local" class="form-control" name="ReturnDate" id="returndate"/>
            </div>
        </div>
    </form>

</div>
<script>
    $("#sorgula").click(() => {
        $.post("https://localhost:44375/AvailableCars/AvailableCars", {d1:"#rentdate", d2: "#returndate" });
    });
</script>
