@using rentaCar.Models.Entities
@model rentaCar.Models.Entities.dates
@{
    ViewBag.Title = "AvailableCars";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    WebGrid grid = new WebGrid(ViewBag.values);
}

<div class="container">


    @grid.GetHtml(
                tableStyle: "table-bordered col-md-12 text-center"
        )

<form class="form-horizontal" method="post">
    <div class="form-group">
        <label class="control-label col-sm-2">Kiralama Tarihi</label>
        <div class="col-sm-5">
            <input type="datetime-local" class="form-control" name="d1" id="rentdate" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">Dönüş Tarihi</label>
        <div class="col-sm-5">
            <input type="datetime-local" class="form-control" name="d2" id="returndate" />
        </div>
    </div>
    <button>Sorgula</button>

</form>



    <div id="getCar"></div>

</div>
<script>
    function Dates(value1, value2) {
        alert(value1);
        $("#start").val(value1);
        $("#finish").val(value2);
        console.log("1212");
    }
</script>
@*<script>
        $("#sorgula").click(x => {
            let startdate = $("#startdate").val();
            let finishdate = $("#finishdate").val();
            $.ajax({
                
                Type: "json",
                type: "post",
                url: "/AvailableCars/getAvailableCars/",
                data: {
                    d1: startdate,
                    d2: finishdate
                },
                success: function (func) {

                    let w = jQuery.parseJSON(func);
                    console.log(w);
                    let tablehtml = "@grid.GetHtml(tableStyle: "table-bordered col-md-12 text-center")";
                    //$.each(w, (index, value) => {
                    //    tablehtml += `<tr><td>${value.Id}</td><td>${value.LicensePlate}</td><td>${value.Brand}</td><td>${value.Model}</td><td>${value.ProductYear}</td><td>${value.Color}</td><td>${value.km}</td><td>${value.CarType}</td><td>${value.DailyPrice}</td><td><a type href=# onclick=updateCarId(${value.Id})>Seç</a></td></tr>`
                    //});
                    //tablehtml += "</table>";
                    $("#getCar").html(tablehtml);
                }
            })
            console.log(startdate);
        });
    </script>*@
