
@{
    ViewBag.Title = "getAvailableCar";
    Layout = "~/Views/Shared/_MainLayout.cshtml";

}

<div class="container">

    <button type="button" id="sorgula" class="btn btn-primary">Araç Sorgula</button>

    <form class="form-horizontal" method="post">
        <div class="form-group">
            <label class="control-label col-sm-2">Kiralama Tarihi</label>
            <div class="col-sm-5">
                <input type="datetime-local" class="form-control" name="RentalDate" id="startdate" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Dönüş Tarihi</label>
            <div class="col-sm-5">
                <input type="datetime-local" class="form-control" name="ReturnDate" id="finishdate" />
            </div>
        </div>
    </form>

    <div id="getCar">
        
    </div>
    <a hidden ></a>

</div>

<script>


    $("#sorgula").click(x => {
        let startdate = $("#startdate").val();
        let finishdate = $("#finishdate").val();
        $.ajax({
            dataType: "json",
            type: "post",
            url: "/AvailableCars/getAvailableCars/",
            data: {
                d1: startdate,
                d2: finishdate
            },
            success: function (func) {
                let w = jQuery.parseJSON(func);
                console.log(w);
                let tablehtml = "<table class= table table-bordered> <tr><th>ID</th> <th>MARKA</th><th>MODEL</th><th>YIL</th><th>COLOR</th><th>KM</th><th>ARAÇ TİPİ</th><th>GÜNLÜK ÜCRET</th><th>SEÇ</th></tr>";
                $.each(w, (index, value) => {
                    tablehtml += `<tr><td>${value.Id}</td><td>${value.Brand}</td><td>${value.Model}</td><td>${value.ProductYear}</td><td>${value.Color}</td><td>${value.km}</td><td>${value.CarType}</td><td>${value.DailyPrice}</td><td>${value.DailyPrice}</td><td><a type href=# onclick=updateCarId(${value.Id})>Seç</a></td></tr>`
                });
                tablehtml += "</table>";
                $("#getCar").html(tablehtml);
            }
        })
        console.log(startdate);
    });
</script>

