@using rentaCar.Models.Entities;
@using DayPilot.Web.Mvc;
@using DayPilot.Web.Mvc.Events.Calendar
@using ViewType = DayPilot.Web.Mvc.Enums.Calendar.ViewType

@model List<cars>
@{
    ViewBag.Title = "OnRentCars";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.1/fullcalendar.min.css" />
<div class="container ">
    <div class="container col-md-6">
        <canvas id="pieChart" style="width:100%;max-width:700px"></canvas>
    </div>
    <div class="container col-md-6" >
        <canvas id="pieChart2" style="width:100%;max-width:700px"></canvas>
    </div>
</div>

<div class="container" id="calendar"></div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span id="eventTitle"></span></h4>
            </div>
            <div class="modal-body">
                <p id="pDetails"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>

<script>
    new Chart(pieChart, {
        type: "pie",
        data: {
            labels: ["Uygun", "Uygun Değil"],
            datasets: [{
                data: [@ViewBag.a, @ViewBag.b],
                backgroundColor: [
                    "#000080",
                    "#0000cd",
                ],
                borderColor: "transparent"

            }]
        },
        options: {
            maintainAspectRatio: false,
            cutoutPercentage: 65,
        }
    });
    new Chart(pieChart2, {
        type: "pie",
        data: {
            labels: ["Kirada", "Kirada Değil"],
            datasets: [{
                data: [@ViewBag.c, @ViewBag.d],
                backgroundColor: [
                    "#000080",
                    "#0000cd",
                ],
                borderColor: "transparent"

            }]
        },
        options: {
            maintainAspectRatio: false,
            cutoutPercentage: 65,
        }
    })
</script>
<script>
    $(document).ready(function () {
        var rents = [];
        $.ajax({
            type: 'GET',
            url: '/Calendar/GetRent',
            success: function (data) {
                
                $.each(JSON.parse(data), function (i, v) {
                    rents.push({
                        title: v.CarId,
                        start: moment(v.RentalDate),
                        end: moment(v.ReturnDate)
                    })
                })
                console.log(data);
                GenareteCalender(rents);
            }
        })
        
        function GenareteCalender(rents) {
            $('#calendar').fullCalendar({
                header: {
                    left: 'prev, next, today',
                    center: 'title',
                    right: 'month, agendaWeek, agendaDay'
                },
                selectable: true,
                selectHelper: true,
                defaultView: 'month',
                editable: true,
                events: rents,
                eventClick: function (calEvent) {
                    $('#myModal #eventTitle').text(calEvent.title);
                    var $description = $('<div/>');
                    $description.append($('<p/>').html('<b>Start:</b>' + calEvent.start.format("DD-MM-YYYY HH:mm a")));
                    $description.append($('<p/>').html('<b>Finish:</b>' + calEvent.end.format("DD-MM-YYYY HH:mm a")));
                    $('#myModal #pDetails').empty().html($description);

                    $('#myModal').modal();
                }
            })
        }


    })
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

<script src="https://fullcalendar.io/js/fullcalendar-2.2.5/fullcalendar.min.js"></script>